.custom-content{
    --background: white;

}
.barra-menu{
    --background: #a3e4d7;

}

.titulo {text-align: center; 
    color: black;


    
} 

.label {

    color: #a3e4d7;
}

.list {
    --back: #aed6f1;
}
