<ion-menu contentId="main-content">
  <ion-header >
    <ion-toolbar class="barra-menu">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding custom-content">
    <div>
      <ion-list>
        <ion-item>
          <ion-label class="label" routerLink="/inicio">Inicio 🏠</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-list>
        <ion-item>
          <ion-label class="label" routerLink="/tu-cuerpo">Tu cuerpo 💪🏻</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      
      <ion-list>
        <ion-item>
          <ion-label class="label"  routerLink="/entrenamiento">Entrenamiento 👟</ion-label>
        </ion-item>
      </ion-list>
    </div>
    <div>
      <ion-list>
        <ion-item>
          <ion-label class="label"  routerLink="/recetas">Recetas 🥗</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="barra-menu">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="titulo">🏋🏿‍♂️HealthFit🏋🏻</ion-title>
    </ion-toolbar>
  </ion-header>
</div> 